*:not(ul, li) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  &__items-list {
    align-self: center;
  }
  &__tree {
    margin: 10px 0 10px 0;
    align-self: center;
  }
  &__functionality {
    margin-top: 10px;
  }
  &__isLoading {
    align-self: center;
    margin: 10px;
  }
}
header {
  height: 100px;
}
.header {
  height: 100px;
  width: 100%;
  background-color: teal;
  position: fixed;
  z-index: 100;
}

.isLoading {
  border-bottom: 5px solid teal;
}

.radiobuttons-group {
  display: flex;
  justify-content: space-around;
  width: min-content;

  border: 5px solid teal;
  &__radiobutton-wrapper {
    margin: 5px;
  }
}
.radiobutton {
  display: flex;
  justify-content: space-around;

  align-items: center;
  &__input {
    margin-right: 5px;
  }
  &__text {
    white-space: nowrap;
  }
}

.refresh {
  width: min-content;
  padding: 5px;
  border: 5px solid teal;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.functionality {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-top: 5px solid rgb(0, 2, 128);
  border-bottom: 5px solid rgb(0, 2, 128);
}

.items-list {
  display: flex;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
  &__item {
    padding: 10px;
    margin: 10px;
  }
}

.item {
  border: 5px solid teal;
  display: flex;
  flex-direction: column;
  width: calc((100% - 150px) / 5);
  height: 210px;

  &__close {
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color: red;
    align-self: end;
    margin-bottom: 10px;
    clip-path: polygon(
      20% 0%,
      0% 20%,
      30% 50%,
      0% 80%,
      20% 100%,
      50% 70%,
      80% 100%,
      100% 80%,
      70% 50%,
      100% 20%,
      80% 0%,
      50% 30%
    );
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex: 1 1;
    &__line {
      border-top: 5px solid teal;
    }
  }
}

.pages-list {
  display: flex;
  align-self: center;
  width: min-content;
  margin: 0 auto 0 auto;
  &__page {
    padding: 2px;
    margin: 2px;
  }
}

.page {
  cursor: pointer;
  border: 5px solid teal;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nested {
  display: none;
}

.active {
  display: block;
}

.tree {
  width: 90%;
  &__branch {
    white-space: nowrap;
    &__name {
      cursor: pointer;
      width: min-content;
      border-bottom: 5px solid teal;
    }
  }
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

footer {
  height: 100px;
}
.footer {
  height: 100px;
  width: 100%;
  background-color: teal;
  position: fixed;
  z-index: 100;
  bottom: 0px;
}
